
.minecraft/.mixin.out/

.minecraft/asm/

.minecraft/astralsorcery/

*.errored

.minecraft/journeymap/data/

.minecraft/journeymap/server/

*.log

.minecraft/.ReAuth.cfg

.minecraft/BotaniaVars.dat

.minecraft/OpenComputersMod-1.7.5.192-lua52-native.64.dll

.minecraft/OpenComputersMod-1.7.5.192-lua53-native.64.dll

.minecraft/usercache.json

.minecraft/usernamecache.json

.minecraft/patchouli_data.json

.minecraft/ExtraBotanyVars.dat

.minecraft/logs/

.minecraft/mods/memory_repo/

.minecraft/mods/OpenTerrainGenerator/

.minecraft/saves/

.minecraft/config/BlockDrops/modVersions.txt

.minecraft/config/AppliedEnergistics2/items.csv

natives/

.minecraft/crash-reports/

.minecraft/config/customloadingscreen_timings.nbt

.minecraft/config/brandon3055/contributors.json

.minecraft/screenshots/

.minecraft/config/Aether/analytics.json.gz
