
.minecraft/.mixin.out/

.minecraft/asm/

.minecraft/astralsorcery/

*.errored

.minecraft/journeymap/data/

.minecraft/journeymap/server/

*.log

.minecraft/.ReAuth.cfg

.minecraft/BotaniaVars.dat

.minecraft/OpenComputersMod-1.7.5.192-lua52-native.64.dll

.minecraft/OpenComputersMod-1.7.5.192-lua53-native.64.dll

.minecraft/usercache.json

.minecraft/usernamecache.json

.minecraft/patchouli_data.json

.minecraft/ExtraBotanyVars.dat

.minecraft/logs/

.minecraft/mods/memory_repo/

.minecraft/mods/OpenTerrainGenerator/

.minecraft/saves/

.minecraft/config/BlockDrops/modVersions.txt

.minecraft/config/AppliedEnergistics2/items.csv

natives/

.minecraft/crash-reports/

.minecraft/config/customloadingscreen_timings.nbt

.minecraft/config/brandon3055/contributors.json

.minecraft/screenshots/

.minecraft/config/Aether/analytics.json.gz

server/crash-reports/

server/.mixin.out/

server/asm/

server/world/

server/logs/

server/Biome Bundle/

.minecraft/resonance/music/Skyrim/AlbumArt_\{B5020207-474E-4720-CC94-0D2120F6BC00\}_Small.jpg

.minecraft/resonance/music/Skyrim/AlbumArt_\{B5020207-474E-4720-CC94-0D2120F6BC00\}_Large.jpg

.minecraft/resonance/music/Skyrim/Folder.jpg

.minecraft/resonance/music/Skyrim/AlbumArtSmall.jpg

.minecraft/config/artisanintegrations/module.botania.Tools-Generated.json

.minecraft/config/artisanworktables/module.Tools.Materials.Generated.json

.minecraft/config/brandon3055/ProjectIntelligence/manifest.json

.minecraft/config/brandon3055/ProjectIntelligence/projectintelligence.xml

.minecraft/config/enderio/recipes/examples/

.minecraft/config/enderio/painter_paint_sources_core.xml

.minecraft/config/opencomputers/default.recipes

.minecraft/config/opencomputers/gregtech.recipes

.minecraft/config/opencomputers/hardmode.recipes

.minecraft/config/opencomputers/peaceful.recipes

.minecraft/config/acronym/saved/material_parts_contenttweaker-original.json

.minecraft/config/acronym/saved/material_parts_contenttweaker.json

.minecraft/config/acronym/saved/saved_sub_blocks_contenttweaker-original.json

.minecraft/config/acronym/saved/saved_sub_blocks_contenttweaker.json

server/mods/OpenTerrainGenerator/

.minecraft/journeymap/
