# Configuration file

bannedblocks {
    B:"artisanworktables:workstation-5"=false
    B:"astralsorcery:blockmarble-0"=false
    B:"atum:alabaster-0"=false
    B:"atum:bone_ore-0"=false
    B:"atum:diamond_ore-0"=false
    B:"atum:emerald_ore-0"=false
    B:"atum:fertile_soil-0"=false
    B:"atum:gold_ore-0"=false
    B:"atum:iron_ore-0"=false
    B:"atum:khnumite_raw-0"=false
    B:"atum:lapis_ore-0"=false
    B:"atum:limestone-0"=false
    B:"atum:limestone-1"=false
    B:"atum:limestone_brick_large-0"=false
    B:"atum:limestone_cracked-0"=false
    B:"atum:limestone_furnace-4"=false
    B:"atum:limestone_furnace-5"=false
    B:"atum:limestone_furnace_lit-4"=false
    B:"atum:lit_redstone_ore-0"=false
    B:"atum:marl-0"=false
    B:"atum:porphyry-0"=false
    B:"atum:relic_ore-0"=false
    B:"atum:sand-0"=false
    B:"atum:sand_layer-0"=false
    B:"atum:sand_layer-1"=false
    B:"atum:sand_layer-2"=false
    B:"divergentunderground:hard_coal_ore-1"=false
    B:"divergentunderground:hard_redstone_ore-1"=false
    B:"dynamictreesatum:deadtreebranch-2"=false
    B:"dynamictreesatum:deadtreebranch-4"=false
    B:"dynamictreesatum:deadtreebranch-7"=false
    B:"dynamictreesatum:palmbranch-6"=false
    B:"dynamictreesatum:palmbranch-7"=false
    B:"midnight:bloomcrystal_rock-0"=false
    B:"midnight:bogshroom_hat-0"=false
    B:"midnight:bogshroom_stem-0"=false
    B:"minecraft:cactus-0"=false
    B:"minecraft:cobblestone-0"=false
    B:"minecraft:diamond_ore-0"=false
    B:"minecraft:emerald_ore-0"=false
    B:"minecraft:fence-0"=false
    B:"minecraft:iron_ore-0"=false
    B:"minecraft:netherrack-0"=false
    B:"minecraft:red_sandstone-0"=false
    B:"minecraft:sand-0"=false
    B:"minecraft:sand-1"=false
    B:"minecraft:sandstone-0"=false
    B:"minecraft:sandstone-1"=false
    B:"minecraft:sandstone-2"=false
    B:"minecraft:sea_lantern-0"=false
    B:"minecraft:vine-2"=false
    B:"minecraft:vine-8"=false
    B:"storagedrawers:basicdrawers-0"=false
    B:"taiga:duranite_ore-0"=false
    B:"taiga:osram_ore-0"=false
    B:"taiga:palladium_ore-0"=false
    B:"tconstruct:tooltables-0"=false
    B:"tconstruct:tooltables-1"=false
    B:"tconstruct:tooltables-2"=false
    B:"tconstruct:tooltables-3"=false
    B:"tconstruct:tooltables-4"=false
}


banneditems {
    B:"atum:shrub-0"=false
    B:"atum:weed-0"=false
    B:"minecraft:air-0"=false
    B:"minecraft:air-15"=false
    B:"minecraft:cooked_beef-0"=false
    B:"minecraft:diamond_axe-0"=false
    B:"minecraft:diamond_axe-1"=false
    B:"minecraft:diamond_axe-10"=false
    B:"minecraft:diamond_axe-11"=false
    B:"minecraft:diamond_axe-12"=false
    B:"minecraft:diamond_axe-13"=false
    B:"minecraft:diamond_axe-14"=false
    B:"minecraft:diamond_axe-15"=false
    B:"minecraft:diamond_axe-16"=false
    B:"minecraft:diamond_axe-17"=false
    B:"minecraft:diamond_axe-18"=false
    B:"minecraft:diamond_axe-19"=false
    B:"minecraft:diamond_axe-2"=false
    B:"minecraft:diamond_axe-20"=false
    B:"minecraft:diamond_axe-21"=false
    B:"minecraft:diamond_axe-22"=false
    B:"minecraft:diamond_axe-23"=false
    B:"minecraft:diamond_axe-24"=false
    B:"minecraft:diamond_axe-25"=false
    B:"minecraft:diamond_axe-3"=false
    B:"minecraft:diamond_axe-4"=false
    B:"minecraft:diamond_axe-5"=false
    B:"minecraft:diamond_axe-6"=false
    B:"minecraft:diamond_axe-7"=false
    B:"minecraft:diamond_axe-8"=false
    B:"minecraft:diamond_axe-9"=false
    B:"minecraft:diamond_pickaxe-0"=false
    B:"minecraft:diamond_pickaxe-1"=false
    B:"minecraft:diamond_pickaxe-10"=false
    B:"minecraft:diamond_pickaxe-11"=false
    B:"minecraft:diamond_pickaxe-12"=false
    B:"minecraft:diamond_pickaxe-13"=false
    B:"minecraft:diamond_pickaxe-14"=false
    B:"minecraft:diamond_pickaxe-15"=false
    B:"minecraft:diamond_pickaxe-16"=false
    B:"minecraft:diamond_pickaxe-17"=false
    B:"minecraft:diamond_pickaxe-18"=false
    B:"minecraft:diamond_pickaxe-19"=false
    B:"minecraft:diamond_pickaxe-2"=false
    B:"minecraft:diamond_pickaxe-20"=false
    B:"minecraft:diamond_pickaxe-24"=false
    B:"minecraft:diamond_pickaxe-3"=false
    B:"minecraft:diamond_pickaxe-30"=false
    B:"minecraft:diamond_pickaxe-36"=false
    B:"minecraft:diamond_pickaxe-4"=false
    B:"minecraft:diamond_pickaxe-5"=false
    B:"minecraft:diamond_pickaxe-51"=false
    B:"minecraft:diamond_pickaxe-56"=false
    B:"minecraft:diamond_pickaxe-57"=false
    B:"minecraft:diamond_pickaxe-58"=false
    B:"minecraft:diamond_pickaxe-59"=false
    B:"minecraft:diamond_pickaxe-6"=false
    B:"minecraft:diamond_pickaxe-68"=false
    B:"minecraft:diamond_pickaxe-7"=false
    B:"minecraft:diamond_pickaxe-70"=false
    B:"minecraft:diamond_pickaxe-78"=false
    B:"minecraft:diamond_pickaxe-8"=false
    B:"minecraft:diamond_pickaxe-84"=false
    B:"minecraft:diamond_pickaxe-87"=false
    B:"minecraft:diamond_pickaxe-88"=false
    B:"minecraft:diamond_pickaxe-89"=false
    B:"minecraft:diamond_pickaxe-9"=false
    B:"minecraft:diamond_pickaxe-90"=false
    B:"minecraft:sponge-1"=false
    B:"minecraft:torch-0"=false
    B:"tconstruct:excavator-0"=false
    B:"tconstruct:excavator-107"=false
    B:"tconstruct:excavator-116"=false
    B:"tconstruct:excavator-124"=false
    B:"tconstruct:excavator-132"=false
    B:"tconstruct:excavator-140"=false
    B:"tconstruct:excavator-146"=false
    B:"tconstruct:excavator-15"=false
    B:"tconstruct:excavator-152"=false
    B:"tconstruct:excavator-158"=false
    B:"tconstruct:excavator-164"=false
    B:"tconstruct:excavator-170"=false
    B:"tconstruct:excavator-176"=false
    B:"tconstruct:excavator-182"=false
    B:"tconstruct:excavator-188"=false
    B:"tconstruct:excavator-189"=false
    B:"tconstruct:excavator-201"=false
    B:"tconstruct:excavator-206"=false
    B:"tconstruct:excavator-21"=false
    B:"tconstruct:excavator-215"=false
    B:"tconstruct:excavator-224"=false
    B:"tconstruct:excavator-233"=false
    B:"tconstruct:excavator-242"=false
    B:"tconstruct:excavator-251"=false
    B:"tconstruct:excavator-260"=false
    B:"tconstruct:excavator-266"=false
    B:"tconstruct:excavator-269"=false
    B:"tconstruct:excavator-27"=false
    B:"tconstruct:excavator-275"=false
    B:"tconstruct:excavator-284"=false
    B:"tconstruct:excavator-290"=false
    B:"tconstruct:excavator-299"=false
    B:"tconstruct:excavator-308"=false
    B:"tconstruct:excavator-317"=false
    B:"tconstruct:excavator-325"=false
    B:"tconstruct:excavator-33"=false
    B:"tconstruct:excavator-331"=false
    B:"tconstruct:excavator-337"=false
    B:"tconstruct:excavator-343"=false
    B:"tconstruct:excavator-349"=false
    B:"tconstruct:excavator-355"=false
    B:"tconstruct:excavator-364"=false
    B:"tconstruct:excavator-372"=false
    B:"tconstruct:excavator-378"=false
    B:"tconstruct:excavator-38"=false
    B:"tconstruct:excavator-387"=false
    B:"tconstruct:excavator-395"=false
    B:"tconstruct:excavator-402"=false
    B:"tconstruct:excavator-407"=false
    B:"tconstruct:excavator-413"=false
    B:"tconstruct:excavator-419"=false
    B:"tconstruct:excavator-425"=false
    B:"tconstruct:excavator-431"=false
    B:"tconstruct:excavator-437"=false
    B:"tconstruct:excavator-44"=false
    B:"tconstruct:excavator-441"=false
    B:"tconstruct:excavator-448"=false
    B:"tconstruct:excavator-454"=false
    B:"tconstruct:excavator-460"=false
    B:"tconstruct:excavator-466"=false
    B:"tconstruct:excavator-472"=false
    B:"tconstruct:excavator-480"=false
    B:"tconstruct:excavator-488"=false
    B:"tconstruct:excavator-494"=false
    B:"tconstruct:excavator-500"=false
    B:"tconstruct:excavator-509"=false
    B:"tconstruct:excavator-515"=false
    B:"tconstruct:excavator-521"=false
    B:"tconstruct:excavator-53"=false
    B:"tconstruct:excavator-62"=false
    B:"tconstruct:excavator-71"=false
    B:"tconstruct:excavator-80"=false
    B:"tconstruct:excavator-89"=false
    B:"tconstruct:excavator-9"=false
    B:"tconstruct:excavator-98"=false
    B:"tconstruct:hammer-0"=false
    B:"tconstruct:hammer-14"=false
    B:"tconstruct:hammer-19"=false
    B:"tconstruct:hammer-23"=false
    B:"tconstruct:hammer-27"=false
    B:"tconstruct:hammer-32"=false
    B:"tconstruct:hammer-38"=false
    B:"tconstruct:hammer-47"=false
    B:"tconstruct:hammer-56"=false
    B:"tconstruct:hammer-6"=false
    B:"tconstruct:hammer-65"=false
    B:"tconstruct:hammer-74"=false
    B:"tconstruct:hammer-83"=false
    B:"tconstruct:hatchet-0"=false
    B:"tconstruct:hatchet-1"=false
    B:"tconstruct:hatchet-2"=false
    B:"tconstruct:hatchet-3"=false
    B:"tconstruct:hatchet-4"=false
    B:"tconstruct:hatchet-5"=false
    B:"tconstruct:hatchet-6"=false
    B:"tconstruct:hatchet-7"=false
    B:"tconstruct:hatchet-8"=false
    B:"tconstruct:pickaxe-0"=false
    B:"tconstruct:pickaxe-1"=false
    B:"tconstruct:pickaxe-10"=false
    B:"tconstruct:pickaxe-100"=false
    B:"tconstruct:pickaxe-101"=false
    B:"tconstruct:pickaxe-102"=false
    B:"tconstruct:pickaxe-103"=false
    B:"tconstruct:pickaxe-104"=false
    B:"tconstruct:pickaxe-105"=false
    B:"tconstruct:pickaxe-106"=false
    B:"tconstruct:pickaxe-107"=false
    B:"tconstruct:pickaxe-108"=false
    B:"tconstruct:pickaxe-109"=false
    B:"tconstruct:pickaxe-11"=false
    B:"tconstruct:pickaxe-110"=false
    B:"tconstruct:pickaxe-111"=false
    B:"tconstruct:pickaxe-112"=false
    B:"tconstruct:pickaxe-113"=false
    B:"tconstruct:pickaxe-114"=false
    B:"tconstruct:pickaxe-115"=false
    B:"tconstruct:pickaxe-116"=false
    B:"tconstruct:pickaxe-117"=false
    B:"tconstruct:pickaxe-118"=false
    B:"tconstruct:pickaxe-119"=false
    B:"tconstruct:pickaxe-12"=false
    B:"tconstruct:pickaxe-120"=false
    B:"tconstruct:pickaxe-121"=false
    B:"tconstruct:pickaxe-122"=false
    B:"tconstruct:pickaxe-123"=false
    B:"tconstruct:pickaxe-124"=false
    B:"tconstruct:pickaxe-125"=false
    B:"tconstruct:pickaxe-126"=false
    B:"tconstruct:pickaxe-127"=false
    B:"tconstruct:pickaxe-128"=false
    B:"tconstruct:pickaxe-129"=false
    B:"tconstruct:pickaxe-13"=false
    B:"tconstruct:pickaxe-130"=false
    B:"tconstruct:pickaxe-131"=false
    B:"tconstruct:pickaxe-132"=false
    B:"tconstruct:pickaxe-133"=false
    B:"tconstruct:pickaxe-134"=false
    B:"tconstruct:pickaxe-135"=false
    B:"tconstruct:pickaxe-136"=false
    B:"tconstruct:pickaxe-137"=false
    B:"tconstruct:pickaxe-138"=false
    B:"tconstruct:pickaxe-139"=false
    B:"tconstruct:pickaxe-14"=false
    B:"tconstruct:pickaxe-140"=false
    B:"tconstruct:pickaxe-141"=false
    B:"tconstruct:pickaxe-142"=false
    B:"tconstruct:pickaxe-143"=false
    B:"tconstruct:pickaxe-144"=false
    B:"tconstruct:pickaxe-145"=false
    B:"tconstruct:pickaxe-146"=false
    B:"tconstruct:pickaxe-147"=false
    B:"tconstruct:pickaxe-148"=false
    B:"tconstruct:pickaxe-149"=false
    B:"tconstruct:pickaxe-15"=false
    B:"tconstruct:pickaxe-150"=false
    B:"tconstruct:pickaxe-151"=false
    B:"tconstruct:pickaxe-152"=false
    B:"tconstruct:pickaxe-153"=false
    B:"tconstruct:pickaxe-154"=false
    B:"tconstruct:pickaxe-155"=false
    B:"tconstruct:pickaxe-156"=false
    B:"tconstruct:pickaxe-157"=false
    B:"tconstruct:pickaxe-158"=false
    B:"tconstruct:pickaxe-159"=false
    B:"tconstruct:pickaxe-16"=false
    B:"tconstruct:pickaxe-160"=false
    B:"tconstruct:pickaxe-161"=false
    B:"tconstruct:pickaxe-162"=false
    B:"tconstruct:pickaxe-163"=false
    B:"tconstruct:pickaxe-164"=false
    B:"tconstruct:pickaxe-165"=false
    B:"tconstruct:pickaxe-166"=false
    B:"tconstruct:pickaxe-167"=false
    B:"tconstruct:pickaxe-168"=false
    B:"tconstruct:pickaxe-169"=false
    B:"tconstruct:pickaxe-17"=false
    B:"tconstruct:pickaxe-170"=false
    B:"tconstruct:pickaxe-171"=false
    B:"tconstruct:pickaxe-172"=false
    B:"tconstruct:pickaxe-173"=false
    B:"tconstruct:pickaxe-174"=false
    B:"tconstruct:pickaxe-175"=false
    B:"tconstruct:pickaxe-176"=false
    B:"tconstruct:pickaxe-177"=false
    B:"tconstruct:pickaxe-178"=false
    B:"tconstruct:pickaxe-179"=false
    B:"tconstruct:pickaxe-18"=false
    B:"tconstruct:pickaxe-180"=false
    B:"tconstruct:pickaxe-181"=false
    B:"tconstruct:pickaxe-182"=false
    B:"tconstruct:pickaxe-183"=false
    B:"tconstruct:pickaxe-184"=false
    B:"tconstruct:pickaxe-185"=false
    B:"tconstruct:pickaxe-186"=false
    B:"tconstruct:pickaxe-187"=false
    B:"tconstruct:pickaxe-188"=false
    B:"tconstruct:pickaxe-189"=false
    B:"tconstruct:pickaxe-19"=false
    B:"tconstruct:pickaxe-190"=false
    B:"tconstruct:pickaxe-191"=false
    B:"tconstruct:pickaxe-192"=false
    B:"tconstruct:pickaxe-193"=false
    B:"tconstruct:pickaxe-194"=false
    B:"tconstruct:pickaxe-195"=false
    B:"tconstruct:pickaxe-196"=false
    B:"tconstruct:pickaxe-197"=false
    B:"tconstruct:pickaxe-198"=false
    B:"tconstruct:pickaxe-199"=false
    B:"tconstruct:pickaxe-2"=false
    B:"tconstruct:pickaxe-20"=false
    B:"tconstruct:pickaxe-200"=false
    B:"tconstruct:pickaxe-201"=false
    B:"tconstruct:pickaxe-202"=false
    B:"tconstruct:pickaxe-203"=false
    B:"tconstruct:pickaxe-204"=false
    B:"tconstruct:pickaxe-205"=false
    B:"tconstruct:pickaxe-206"=false
    B:"tconstruct:pickaxe-207"=false
    B:"tconstruct:pickaxe-208"=false
    B:"tconstruct:pickaxe-209"=false
    B:"tconstruct:pickaxe-21"=false
    B:"tconstruct:pickaxe-210"=false
    B:"tconstruct:pickaxe-211"=false
    B:"tconstruct:pickaxe-22"=false
    B:"tconstruct:pickaxe-23"=false
    B:"tconstruct:pickaxe-24"=false
    B:"tconstruct:pickaxe-25"=false
    B:"tconstruct:pickaxe-26"=false
    B:"tconstruct:pickaxe-27"=false
    B:"tconstruct:pickaxe-28"=false
    B:"tconstruct:pickaxe-29"=false
    B:"tconstruct:pickaxe-3"=false
    B:"tconstruct:pickaxe-30"=false
    B:"tconstruct:pickaxe-31"=false
    B:"tconstruct:pickaxe-32"=false
    B:"tconstruct:pickaxe-33"=false
    B:"tconstruct:pickaxe-34"=false
    B:"tconstruct:pickaxe-35"=false
    B:"tconstruct:pickaxe-36"=false
    B:"tconstruct:pickaxe-37"=false
    B:"tconstruct:pickaxe-38"=false
    B:"tconstruct:pickaxe-39"=false
    B:"tconstruct:pickaxe-4"=false
    B:"tconstruct:pickaxe-40"=false
    B:"tconstruct:pickaxe-41"=false
    B:"tconstruct:pickaxe-42"=false
    B:"tconstruct:pickaxe-43"=false
    B:"tconstruct:pickaxe-44"=false
    B:"tconstruct:pickaxe-45"=false
    B:"tconstruct:pickaxe-46"=false
    B:"tconstruct:pickaxe-47"=false
    B:"tconstruct:pickaxe-48"=false
    B:"tconstruct:pickaxe-49"=false
    B:"tconstruct:pickaxe-5"=false
    B:"tconstruct:pickaxe-50"=false
    B:"tconstruct:pickaxe-51"=false
    B:"tconstruct:pickaxe-52"=false
    B:"tconstruct:pickaxe-53"=false
    B:"tconstruct:pickaxe-54"=false
    B:"tconstruct:pickaxe-55"=false
    B:"tconstruct:pickaxe-56"=false
    B:"tconstruct:pickaxe-57"=false
    B:"tconstruct:pickaxe-58"=false
    B:"tconstruct:pickaxe-59"=false
    B:"tconstruct:pickaxe-6"=false
    B:"tconstruct:pickaxe-60"=false
    B:"tconstruct:pickaxe-61"=false
    B:"tconstruct:pickaxe-62"=false
    B:"tconstruct:pickaxe-63"=false
    B:"tconstruct:pickaxe-64"=false
    B:"tconstruct:pickaxe-65"=false
    B:"tconstruct:pickaxe-66"=false
    B:"tconstruct:pickaxe-67"=false
    B:"tconstruct:pickaxe-68"=false
    B:"tconstruct:pickaxe-69"=false
    B:"tconstruct:pickaxe-7"=false
    B:"tconstruct:pickaxe-70"=false
    B:"tconstruct:pickaxe-71"=false
    B:"tconstruct:pickaxe-72"=false
    B:"tconstruct:pickaxe-73"=false
    B:"tconstruct:pickaxe-74"=false
    B:"tconstruct:pickaxe-75"=false
    B:"tconstruct:pickaxe-76"=false
    B:"tconstruct:pickaxe-77"=false
    B:"tconstruct:pickaxe-78"=false
    B:"tconstruct:pickaxe-79"=false
    B:"tconstruct:pickaxe-8"=false
    B:"tconstruct:pickaxe-80"=false
    B:"tconstruct:pickaxe-81"=false
    B:"tconstruct:pickaxe-82"=false
    B:"tconstruct:pickaxe-83"=false
    B:"tconstruct:pickaxe-84"=false
    B:"tconstruct:pickaxe-85"=false
    B:"tconstruct:pickaxe-86"=false
    B:"tconstruct:pickaxe-87"=false
    B:"tconstruct:pickaxe-88"=false
    B:"tconstruct:pickaxe-89"=false
    B:"tconstruct:pickaxe-9"=false
    B:"tconstruct:pickaxe-90"=false
    B:"tconstruct:pickaxe-91"=false
    B:"tconstruct:pickaxe-92"=false
    B:"tconstruct:pickaxe-93"=false
    B:"tconstruct:pickaxe-94"=false
    B:"tconstruct:pickaxe-95"=false
    B:"tconstruct:pickaxe-96"=false
    B:"tconstruct:pickaxe-97"=false
    B:"tconstruct:pickaxe-98"=false
    B:"tconstruct:pickaxe-99"=false
    B:"tconstruct:shovel-102"=false
    B:"tconstruct:shovel-2"=false
    B:"tconstruct:shovel-47"=false
    B:"tconstruct:shovel-53"=false
    B:"tconstruct:shovel-54"=false
    B:"tconstruct:shovel-55"=false
    B:"tconstruct:shovel-57"=false
    B:"tconstruct:shovel-58"=false
    B:"tconstruct:shovel-59"=false
    B:"tconstruct:shovel-62"=false
    B:"tconstruct:shovel-68"=false
    B:"tconstruct:shovel-69"=false
    B:"tconstruct:shovel-70"=false
    B:"tconstruct:shovel-72"=false
    B:"tconstruct:shuriken-43"=false
    B:"yurtmod:tent-0"=false
}


general {
    I:"Block 10 percent Regen Interval in ms"=1250
    B:"Block Regeneration Enabled"=true
    B:"Config auto-saves unkown blocks - might cause performance issues with mods"=true
    I:"Initial Block Regen Delay in ms"=7000
    B:debugMode=false
}


